/* -- Reset -- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #100;
    font-family: Cambria, serif;
    color: #ecc;
}

a {
    text-decoration: none;
    color: #ecc;
}

/* -- Header -- */

header {
    position: fixed;
    text-align: center;
    z-index: 10;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

header h1 {
    font-family: Cambria;
    font-weight: bold;
    font-size: xxx-large;
    background-color: #800;
    border: 1px solid #800;
    border-radius: 0 0 1em 1em;
    padding: 0 2em;
}

/* -- Nav -- */

nav {
    border: 1px solid #800;
    border-radius: 0 15px 15px 0 ;
    position: fixed;
    left: 0;
    top: 10px;
    background-color: #800;
    font-weight: bold;
    text-align: center;
}

nav h4 {
    border: 2px solid;
    border-radius: 0 15px 0 0;
    border-left-color: #a20;
    border-top-color: #a20;
    border-right-color: #401;
    border-bottom-color: #401;
    background-color:#600;
    font-size: x-large;
    margin: 2px;
}

nav ul {
    list-style: none;
    margin: 0 2px 2px 2px;
    background-color: #201;
    border-radius: 0 0 16px 0;
}

nav ul li {
    padding: 3px 10px;
    margin: 1px 0 0 0;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #800;
}

nav ul li:hover {
    border-left-color: #a20;
    border-top-color: #a20;
    border-right-color: #401;
    border-bottom-color: #401;
}

nav .ul-last {
    border-radius: 0 0 15px 0;
}

/* -- Main -- */

main {
    position: relative;
    width: 75%;
    margin: 0 auto;
    background-color: #211;
    padding: 5em 0 3em 0;
}

main h1 {
    text-align: center;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1em 0;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    margin: 2em auto;
    max-width: 95%;
}

th {
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
}

td {
    border: 1px solid;
    padding: 5px 10px;
}

.table-L2 {
    background-color: rgba(255,255,255,10%);
}

hr {
    margin: 2em auto;
    width: 95%;
}

section h2 {
    text-indent: 1em;
    padding: 1em 0;
    background-color: rgba(255, 255, 255, 10%);
}

/* -- Style Guide -- */

._color {
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 10px 10px;
    padding: 25px 5px;
    font-weight: bolder;
}

.vc_offwhite {
    background-color: #ecc;
    border-color: #400;
}

.vc_offwhite p {
    color: #100;
}

.vc_darkred {
    background-color: #400;
}

.vc_warmgray {
    background-color: #211;
}

.vc_warmblack {
    background-color: #100;
}

._font {
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    margin: 10px 20px;
    vertical-align: top;
}

._font h4 {
    font-size: larger;
    background-color: rgba(255, 255, 255, 10%);
    padding: 10px;
}

._font p {
    margin: 30px 10px;
}

._vc_f_cambria {
    p, h4 {
        font-family: Cambria;
    }
}

._vc_f_consolas {
    p, h4 {
        font-family: Consolas;
    }
}

._vc_f_candara {
    p, h4 {
        font-family: Candara;
    }
}

._vc_f_serif {
    p, h4 {
        font-family: serif;
    }
}

._vc_f_courier {
    p, h4 {
        font-family: "Courier New";
    }
}

._vc_f_optima {
    p, h4 {
        font-family: Optima;
    }
}

._vc_f_monospace {
    p, h4 {
        font-family: monospace;
    }
}

._vc_f_verdana {
    p, h4 {
        font-family: Verdana;
    }
}

._vc_f_sans-serif {
    p, h4 {
        font-family: sans-serif;
    }
}

._style {
    margin: 1em 0;
}

._style * {
    font-weight: unset;
    font-size: unset;
    font-family: unset;
    background-color: unset;
    margin: unset;
    padding: unset;
    text-align: unset;
}

._style ul {
    list-style-position: inside;
    padding: 0 5em;
}


._vc_ts_header_h1 {
    font-weight: bold;
    font-size: xxx-large;
    font-family: Cambria, serif;
    text-indent: 2.5%;
}

._vc_ts_main_h1 {
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, serif;
    text-indent: 2.5%;
}

._vc_ts_section_h2 {
    font-weight: bold;
    font-size: 1.5em;
    font-family: Cambria, serif;
    text-indent: 2.5%;
}

._vc_ts_section_p {
    font-weight: normal;
    font-size: medium;
    font-family: Candara, Optima, Verdana, sans-serif;
    text-indent: 2.5%;
}

._vc_ts_code_p {
    font-weight: normal;
    font-size: medium;
    font-family: Consolas, "Courier New", monospace;
    text-indent: 2.5%;
}