header {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-family: Cambria;
    font-weight: bold;
    background-color: darkred;
    color: white;
    border: 1px solid darkred;
    border-radius: 15px;
}