* {
    margin: 0;
    padding: 0;
    font-family: Cambria, serif;
    color: #fee;
}

body {
    background-color: #100;
}

a {
    text-decoration: unset;
}

header {
    position: fixed;
    text-align: center;
    z-index: 10;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

header h1 {
    font-family: Cambria;
    font-weight: bold;
    font-size: xxx-large;
    background-color: #800;
    border: 1px solid #800;
    border-radius: 0 0 1em 1em;
    padding: 0 2em;
}

nav {
    border: 1px solid #800;
    border-radius: 0 15px 15px 0 ;
    position: fixed;
    left: 0;
    top: 10px;
    background-color: #800;
    font-weight: bold;
    text-align: center;
}

nav h4 {
    border: 2px solid;
    border-radius: 0 15px 0 0;
    border-left-color: #a20;
    border-top-color: #a20;
    border-right-color: #401;
    border-bottom-color: #401;
    background-color:#600;
    font-size: x-large;
    margin: 2px;
}

nav ul {
    list-style: none;
    margin: 0 2px 2px 2px;
    background-color: #201;
    border-radius: 0 0 16px 0;
}

nav ul li {
    padding: 3px 10px;
    margin: 1px 0 0 0;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #800;
}

nav ul li:hover {
    border-left-color: #a20;
    border-top-color: #a20;
    border-right-color: #401;
    border-bottom-color: #401;
}

nav .ul-last {
    border-radius: 0 0 15px 0;
}

main {
    position: relative;
    width: 75%;
    margin: 0 auto;
    background-color: #211;
    padding-top: 5em;
    padding-bottom: 3em;
}

main h1 {
    text-align: center;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1em 0;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    margin: 2em auto;
}

th {
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
}

td {
    border: 1px solid;
    padding: 5px 10px;
}

.tag-L2 {
    background-color: rgba(255,255,255,10%);
}

hr {
    margin: 2em auto;
    width: 95%;
}

section h2 {
    text-indent: 1em;
    padding: 1em 0;
    background-color: rgba(255, 255, 255, 10%);
}